
<form class="login-signup" action="/session" method="post">
<h1 class="login-signup-header">Sign In</h1>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input name="user[email]" type="text" placeholder="email"> <br>
  <br>
  <input name="user[password]" type="password" placeholder="password"> <br>
  <br>
  <input type="submit" value="LOGIN" class="center-block btn btn-primary"><br>
</form>
