<form class="well">
  <input class="add-card-title" type="text" placeholder="New Card">
  <br>
  <textarea class="add-card-description" placeholder="Card Description..."></textarea>
  <br>
  <button class="add-card-button">Add Card</button>
</form>
