<span class="board-title">Create new board...</span>
<form class="add-board-form-hidden">
  <input class="add-board" type="text" placeholder="New Board">
  <button class="add-button btn btn-xs">Add</button>
</form>
