/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

html, body {
  height: 100%;
}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6e/Moleskine_ruled_notebook,_inside_view.jpg");
  background-size: cover;
  padding-top: 17px;
}

.navbar {
  position: fixed;
  opacity: .75;
  // opacity: 0;
  // background-color: black;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: calc(100% - 20px);
  border: 0;
}
.navbar-brand {
  font-family: 'Amatic SC';
  font-size: 55px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  // text-decoration: underline;
}
.backdrop {
  position: fixed;
  top: 70px;
  height: calc(100% - 70px);
  width: 100%;
  overflow-X: scroll;
  overflow-Y: hidden;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li.new-list {
 padding-top: 30px;
 padding-bottom: 30px;
}

li.new-list form {
  margin-left: 100px;
}

li.panel h4 {
  text-align: center;
}

li.list-show {
  width: 25%;
  display: block;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  background: #E0F0FF;
  min-height: 40px;
  overflow-Y: scroll;
  // include max-height when everythings worked out
  // max-height:
}

li.well {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #99CCFF;
}

.board-index-item {
  font-family: 'Amatic SC';
  font-size: 30px;
  display: block;
  float: left;
  border-radius: 10px;
  margin: 10px;
  width: calc(25% - 20px);
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  background: black;
  padding: 10px;
  opacity: .5;
  color: white;
}

.boards-index {
  width: 100%;
}

.board-index-item:hover {
  opacity: .9;
  cursor: pointer;
}

.login-signup{
  width: 168px;
  margin-left: 12%;
  // margin-right: auto;
  margin-top: 10%;
  // background: black;
  padding: 20px;
  // opacity: .7;
  width: 210px;
  border-radius: 10px;
  font-family: 'Amatic SC';
}

.login-signup h1 {
  color: black;
}

.login-signup input {
  font-size: 40px;
  border: none;
    outline:none;
    background-color:rgba(0, 0, 0, 0);
    text-align: left;


}

.login-signup-header {
  text-align: center;
}

.index-item-delete{
  float: right;
}

.board-title{
  color: white;
}

.my-boards{
  margin-left: 12%;
  font-family: 'Amatic SC';
}

// #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
// #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
// #sortable li span { position: absolute; margin-left: -1.3em; }
